apiVersion: apps/v1
kind: Deployment
metadata:
  name: aurora-control-plane
  namespace: aurora-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aurora
  template:
    metadata:
      labels:
        app: aurora
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      serviceAccountName: aurora-sa
      containers:
      - name: aurora
        image: aayud/aurora-platform:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
